.btn-transparent {
  background-color: transparent;
  border: none;
  color: #015c97;
}

.btn-cursor {
  cursor: pointer;
}

.mat-raised-button.mat-primary {
  background-color: #015c97;
}

.invert-btn {
  position: absolute;
  right: 20px;
}
