.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 28px;
}

.mat-button-toggle {
  color: #015c97;
}

.mat-button-toggle-checked {
  background-color: #015c97;
  color: #fff !important;
}

.mat-paginator-container {
  color: #015c97;
  font-size: 14px;
}

.mat-tab-label-active {
  color: #015c97;
  opacity: 1 !important;
}
