<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="padding-std">FICO Dashboard</span>
  <div class="spacer"></div>
  <span class="invert-btn">
    <mat-icon aria-hidden="false" aria-label="Invert Application Color" (click)="onInvertColor(true)"
      *ngIf="!invertColors">invert_colors</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Revert Application Color" (click)="onInvertColor(false)"
      *ngIf="invertColors">invert_colors_off</mat-icon>
  </span>
</div>

<div class="content" role="main">
  <div class="container-main">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Customer Data">
        <div class="table-content">
          <app-table-filter-container [tableColumns]="columns"></app-table-filter-container>
          <app-table-container [tableColumns]="columns"></app-table-container>
        </div>
      </mat-tab>
      <mat-tab label="Customer Analysis - Bar Chart">
        <div class="chart-container-parent">
          <app-chart-filter-container [tableColumns]="columns" [chartType]="'bar'">
          </app-chart-filter-container>
          <div class="margin-right-100">
            <app-chart-container [chartType]="containerType"></app-chart-container>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Customer Analysis - Scatter Chart">
        <div class="chart-container-parent">
          <app-chart-filter-container [tableColumns]="columns" [chartType]="'scatter'">
          </app-chart-filter-container>
          <div class="margin-right-100">
            <app-chart-container [chartType]="containerType"></app-chart-container>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="loading-indicator" *ngIf="showLoader">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
</div>

<router-outlet></router-outlet>
