<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="padding-std">FICO Dashboard</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="container-main">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="Customer Data">
        <div class="table-content">
          <app-filter-container [tableColumns]="columns"></app-filter-container>
          <app-table-container [tableColumns]="columns"></app-table-container>
        </div>
      </mat-tab>
      <mat-tab label="Customer Analysis - Bar Chart">
        <span class="float-left">
          <app-chart-filter-container [tableColumns]="columns" [chartType]="'bar'">
          </app-chart-filter-container>
        </span>
        <span class="float-right min-width-500 chart-content">
          <app-chart-container [chartType]="containerType"></app-chart-container>
        </span>
      </mat-tab>
      <mat-tab label="Customer Analysis - Scatter Chart">
        <span class="float-left">
          <app-chart-filter-container [tableColumns]="columns" [chartType]="'scatter'">
          </app-chart-filter-container>
        </span>
        <span class="float-right min-width-500 chart-content">
          <app-chart-container [chartType]="containerType"></app-chart-container>
        </span>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="loading-indicator" *ngIf="showLoader">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
</div>

<router-outlet></router-outlet>
