<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="padding-std">FICO Dashboard</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="container-main">
    <mat-tab-group>
      <mat-tab label="Table Data">
        <div class="table-content">
          <app-filter-container [tableColumns]="columns"></app-filter-container>
          <app-table-container [tableColumns]="columns"></app-table-container>
        </div>
      </mat-tab>
      <mat-tab label="Chart Data">
        <span class="float-left min-width-500">
          <app-chart-filter-container [tableColumns]="columns"></app-chart-filter-container>
        </span>
        <span>
          <app-chart-container></app-chart-container>
        </span>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="loading-indicator" *ngIf="showLoader">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
</div>

<router-outlet></router-outlet>
